on boot
    # Always start adbd on userdebug and eng builds
    # Please remove follow comment in debug mode.
    # mount ext4 /dev/block/bootdevice/by-name/system /system wait ro barrier=1
    # write /config/usb_gadget/g1/UDC a800000.dwc3
    # start adbd

on init
    setprop sys.usb.ffs.aio_compat 1

on property:vendor.kpdpwr.reset.enabled=0
    write sys/devices/platform/charger/charger_enable_rst 0

on property:vendor.kpdpwr.reset.enabled=1
    write sys/devices/platform/charger/charger_enable_rst 1