import /init.recovery.decrypt.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug mode=0755

on fs
    export ANDROID_ROOT /system_root

on boot
    write /sys/android_touch/doubletap2wake 1
